@import "src/styles/abstracts/variables.scss";

#header {
  #header-icon {
    background-color: $grey;
    align-items: center;
    display: flex;
    justify-content: center;
    color: $white;
  }
  #header-title {
    display: flex;
    align-items: center;
  }
  #header-check-icon {
    margin-left: 0.7rem;
    color: $pink;
  }
}

#content {
  margin-top: 2rem;
}

:host ::ng-deep .mat-card-header-text {
  display: flex;
  align-self: center;
}
