html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: $grey;

  &:hover {
    transition: all 0.1s ease;
    color: $pink;
  }
}
